

.content{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 50px;
    .vazefa{
        width: 500px;
        padding: 10px;
        margin: auto;
        // background: linear-gradient(to right,#3C2389,#9701F7 );;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        margin-bottom: 10px;
        input{
            font-size: 20px;
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
            margin-left: 10px;
            font-weight: 600;
            width: 380px;
        }
        .buttons{
            align-items: center;
            display: flex;
            
            button{
                background-color: transparent;
                border: none;
                margin-right: 10px;
            }
            .deactive{
                display: none;
            }
            .active{
                display: block;
            }
        }
    }
}