


.title{
    width: 100%;
    align-items: center;
    .text{
        margin-bottom: 30px;
    }
    .writeng-area{
        // padding-top: 30px;
        width: fit-content;
        display:flex;
        margin: auto;
        border: 2px solid #3C2389;
        border-radius: 6px;
        .input-area{
            padding: 10px 10px;
            width: 300px;
            background-color: #171A2B;
            border-radius: 6px;

            input{
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: #fff;
                margin-left: 10px;
                font-size: 18px;
            }
        }
        .search-area{
            // width: 100%;
            // height: 100%;
            // background-color: red;
            button{
                width: 100px;
                height: 100%;
                background: linear-gradient(to right,#3C2389,#9701F7 );
                border: none;
                color: #fff;
                border-radius: 4px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;

            }
        }
    }

}