*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  overflow-x: hidden;
}

.App {
  width: 100vw;
  min-height: 100vh;
  text-align:center;
  background-color: #171A2B;
  color: #fff;
  padding-top:150px;
  overflow-x: hidden;

}
